„Przeboje al’dete. Konkurs dla wokalistów” 2021 wystartował!

<p>Ruszyła 1. edycja wydarzenia „Przeboje al’dete. Konkurs dla wokalistów”. Już od dziś czekamy na Wasze autorskie, wokalne wykonanie jednej z dwunastu piosenek, których półplaybacki zaaranżowane przez Mariusza Dziubka, dyrektora Narodowej Orkiestry Dętej, współinicjatora konkursu - wraz z Muzeum Polskiej Piosenki w Opolu - znajdziecie na naszej stronie.
</p>
<p>Moc instrumentów dętych, muzyka w brzmieniu na żywo, kilkudziesięcioosobowa orkiestra - to wszystko sprawia, że podkłady karaoke tętnią nową energią! Dostrzegam mnóstwo utalentowanych wokalistów, którzy z pasją i radością śpiewają ulubione piosenki. Dzięki podkładom Al’dęte, w duecie z orkiestrą, wykonać mogą największe opolskie przeboje. Obcowanie ze sztuką żywą, instrumentem dętym, wejście w głąb świata dźwięków orkiestry to dla mnie wartość. Zapraszam Was do tego świata!   mówi Mariusz Dziubek.
</p>
<p>Pamiętajcie! Wszystkie prace zgłoszone do konkursu, przejdą przez dwa etapy eliminacji: pierwszy w lipcu, kiedy zgłoszenia oceni komisja konkursowa i zdecyduje, kto weźmie udział w warsztatach wokalnych prowadzonych przez Elżbietę Zapendowską oraz Narodową Orkiestrę Dętą,  oraz drugi, we wrześniu, kiedy ścisłą czołówkę nagrodzi profesjonalne jury, które zdecyduje, kto otrzyma Grand Prix oraz pozostałe nagrody.
</p>
<p>Zachęcamy do zapoznania się z <a download href="assets/pliki/Regulamin_Przeboje_Aldete.pdf">Regulaminem Konkursu.</a></p>

<p>Czekamy na Was!</p>
